<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Fork That Orc</title>
   <link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/style.css">
   
</head>

<body>
   <div class="wrapper">
      <header>

         {{#if loggedIn}}
         <h1 class="darkmode-ignore">
            <a href='/dashboard'>Fork That Orc</a>
         </h1>
         {{else}}
         <h1 class ="darkmode-ignore">
            <a href='/'>Fork That Orc</a>
         </h1>
         {{/if}}
         <nav class="darkmode-ignore">
            <ul>
               {{#if loggedIn}}
               <li>
                  <a href="/dashboard/charcreate" class="heroCreate">Create</a>
               </li>
               {{/if}}
               <li>
                  <a href="/all-heros" class="allHero-link">See All Heroes</a>
               </li>
               {{#if loggedIn}}
               </li>
               <button id="logout" class="btn-no-style">Logout</button>
               </li>
               {{/if}}
            </ul>
         </nav>
      </header>


      <main class="darkmode-ignore">
         {{{ body }}}
      </main>

      <footer>
         🩸Blood and Thunder!⛈️
      </footer>
   </div>
   {{#if loggedIn}}
   <script src="/javascript/logout.js"></script>
   {{/if}}
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
const options = {
  bottom: '64px',
  right: '32px',
  left: 'unset',
  time: '0.5s',
  backgroundColor: '#aaa',
  saveInCookies: false,
  label: '🌓',
  autoMatchOsTheme: true
}

const darkmode = new Darkmode(options);
darkmode.showWidget();
</script>
   
</body>

</html>