<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Fork That Orc</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
   <div class="wrapper">
      <header>
         <h1>
            <a href="/">Welcome!</a>
         </h1>
         <nav>
            {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
            {{else}}
            <a href="/showallheros" class="allHero-link">See All Heroes</a>
            {{/if}}
            
<span>
<button onclick="myFunction()" class="dot"></button>
    <script>
      function myFunction() {
    var element = document.body;
    element.classList.toggle("dark");
}
    </script>
</span>

      </nav>
      </header>
         

      <main>
         {{{ body }}}
      </main>
      
      <footer>
         Blood and Thunder!
      </footer>
   </div>
   {{#if loggedIn}}
   <script src="/javascript/logout.js"></script>
   {{/if}}
</body>

</html>