{{#unless loggedIn}}
<div class="signup">
  <h1>Signup</h1>
    <form id="signup-form" class="form">
      <input type="text" class="form-input" id="username-signup" placeholder="Username" required="required" />
        <input type="password" class="form-input" id="password-signup" placeholder="Password" required="required" />
        <button type="submit" class="form-btn">Sign me up</button>
        <a href="/login">Or Login</a>
    </form>
</div>

{{/unless}}

{{#unless loggedIn}}

<script src="/javascript/signup.js"></script>
{{/unless}}