<div class="login">
  <h1>Login</h1>
    <form id="login-form">
      <input type="text" id="username-login" name="u" placeholder="Username" required="required" />
        <input type="password" id="password-login" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn">Let me in.</button>
    </form>
</div>


<!-- javascript file-->
<script src="/javascript/login.js"></script>