    <div class="form">
      <h3 class="card-header">Login</h3>
      <form id="login-form" class="card-body">
        <label class="form-label" for="username-login">Username</label>
        <input  id="username-login" type="text" autofocus="true" class="form-input" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />

        <button type="submit" class="btn login-btn">Login</button>
      </form>
    </div>


<div class="login">
  <h1>Login</h1>
    <form method="post">
      <input type="text" name="u" placeholder="Username" required="required" />
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>


<!-- javascript file-->
<script src="/javascript/login.js"></script>