{{#unless loggedIn}}
<div class="login">
  <h1>Login</h1>
    <form id="login-form" class="form">
      <input type="text" class="form-input" id="username-login" placeholder="Username" required="required" />
        <input type="password" class="form-input" id="password-login" placeholder="Password" required="required" />
        <button type="submit" class="form-btn">Let me in</button>
        <a href="/">Or Sign Up</a>
    </form>
</div>
{{/unless}}

{{#unless loggedIn}}
<script src="/javascript/login.js"></script>
{{/unless}}