    <div class="card form">
      <h3 class="card-header">Sign Up</h3>
      <form id="signup-form" class="card-body">
        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input" />


        <label class="form-label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-input" />

        <button type="submit" class="btn signup-btn">Sign Up</button>
      </form>
    </div>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>