* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: darkred;
  font-weight: bold;
  font-size: 1.5rem;
}

a:hover {
  color: crimson;
}

.btn {
  background-color: darkred;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: crimson;
}

.login-link {
  margin-right: 20px;
}


.form {}

.card-header {
  color: darkred;
}


.form-label {
  margin-top: 10px;
}

.signup-btn {
  margin-left: 10px;
}

.login-btn {
  margin-left: 10px;
}

.post-list {
  margin: 0;
  padding: 0;
}


form>div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
/* CHARACTER CREATION SCREEN BEGIN */
.char-sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char-header {
  width: 100%;
  border: 3px black solid;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.char-h1 {
  border-bottom: 3px black solid;
  width: 100%;
  text-align: center;
}

.char {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.charname-input {
  height: 1.5rem;
  padding: 12px;
  display: block;
  margin: auto;
  border: 2px black solid;
}

.name-btn {
  margin-top: 5px;
  width: 60%;
}

.charclass-input {
  height: 1.5rem;
  width: auto;
  display: block;
  margin: auto;
  border: 2px black solid;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.health-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 40%;
}

.top-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 10px;
  padding: 30px;
  margin: 20px;

}

.top-input {
  font-size: x-large;
  text-align: center;
}

.primary-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 40%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 2px black solid;
  border-radius: 10px;
  margin: 30px;
  width: 60%;
  height: 100px;
}

.bot-card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 100px;
  margin: 12px;
}

.bot-input {
  width: 100%;
  padding: 12px;

}

.card p {
  font-size: larger;
  font-weight: bolder;
}

.stat {
  font-size: 2rem;
}

.gear {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 3px black solid;
}

.bot-btn {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.roll-char {
  margin-top: 20px;
  width: 30%;
}

/* CHARACTER CREATION SCREEN END */